@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading: rgb(0, 162, 194);
  --para: #777;
  --para-tint: #e4e4e4;
  --helper: #ff4c4c;
  --helper-tint: #ffc9c9;
  --navbar: #5d86af;
  --overlay: #c5d5d6cc;
  --btn: #19556640;
  --quotes: #ced3ff;
  --footer: #adadad;
  --gradient: linear-gradient(315deg, rgb(10, 10, 10) 0%, rgb(58, 68, 82) 100%);
  --shadow: 0.5rem 0.5rem 1rem rgb(132 144 255 / 20%);
  --shadowSupport: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
  --black: #000;
  --white: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
  padding-top: 10rem;
}

h1 span {
  color: var(--helper);
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ----------------------------------------------
        Header and Navbar Section Styling
---------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 4.8rem;
  height: 10rem;
  background: var(--gradient);
  box-shadow: var(--shadow);
}

.navbar-list {
  display: flex;
  gap: 4.2rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--navbar);
  font-family: "Poppins", sans-serif;
  transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.mobile-nav-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon[name="close"] {
  display: none;
}

/* --------------------------------------------
              Reusable Code Section
-------------------------------------------- */

.section {
  padding: 8rem 0;
}

.container {
  max-width: 140rem;
  margin: auto;
}

.grid {
  display: grid;
  gap: 10rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--gradient);
  padding: 1.6rem 3.2rem;
  border: none;
  color: var(--helper-tint);
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  box-shadow: var(--shadowSupport);
}

.btn-trans:hover,
.btn-trans:active {
  transform: scale(1.05);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

/* --------------------------------------------
                Hero Section
-------------------------------------------- */

.section-hero {
  position: relative;
  margin-top: 5rem;
  height: 100rem;
}

.section-hero .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-hero::before {
  content: "";
  position: absolute;
  background: url("../img/hero-bg.jpg") no-repeat center / cover;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.quotes {
  width: 100%;
  height: 100%;
}

.quote-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  background: var(--white);
  border-radius: 2rem;
  margin-bottom: 5rem;
}

.quote {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 5rem 8rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

.quote .quote-author {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.quote p::before {
  content: "\f10d";
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--quotes);
}

.quote p::after {
  content: "\f10e";
  position: absolute;
  bottom: 0;
  right: 4rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--quotes);
}

/* --------------------------------------------
                About Section
-------------------------------------------- */

.section-about {
  position: relative;
  background: url("../img/bg-body.jpeg") center/cover no-repeat fixed;
  transition: all 0.7s linear;
  text-align: center;
  padding: 4rem 0;
}

.section-about .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  background: var(--overlay);
}

.section-about .container {
  position: relative;
}

.section-about .grid {
  gap: 4rem;
}

.section-about h2 {
  font-size: 5.4rem;
  padding-top: 5rem;
  margin-bottom: 1.8rem;
}

.section-about p {
  font-size: 2.4rem;
  padding: 2rem 5rem;
}

.section-about h2,
.section-about p {
  color: var(--black);
  text-shadow: -0.1rem -0.1rem rgb(255, 255, 255);
}

.a-btns {
  background: var(--btn);
  border: 1px solid var(--heading);
  border-radius: 10rem;
  color: var(--black);
  text-shadow: -0.1rem -0.1rem rgb(255, 255, 255);
  width: 40%;
  margin-bottom: 4rem;
}

/* --------------------------------------------
                Modal Section
-------------------------------------------- */

.section-modal .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 4.8rem;
  height: 4rem;
  box-shadow: var(--shadow);
}

.nav-tabs li{
  padding: 1rem;
}

.active {
  border: 1px solid var(--black);
}
